In [1]:
import pandas as pd

In [3]:
teacher_df = pd.read_csv('data/CY08MSP_TCH_KOR_VARS select.csv')

In [4]:
teacher_df.head()

,CNT,CNTTCHID,TCHTYPE,TC001Q01NA,TC002Q01NA,TC211Q01JA,TC261Q02JA,TC007Q01NA,TC007Q02NA,TC212Q01JA,...,W_FTCHRWT78,W_FTCHRWT79,W_FTCHRWT80,UNIT,WVARSTRR,W_FSTUWT_SCH_SUM,W_FSTUWT_SCH_N,SENWT,VER_DAT,filter_$
0,KOR,41000001,2,1,56,1,1,29,29,99,...,23.18333,23.18333,23.18333,2,78,1391.000,37,1.07175,01MAY23:15:45:22,1
1,KOR,41000002,1,1,28,1,1,3,5,2,...,10.32694,25.29312,24.57372,2,76,2002.495,36,0.41409,01MAY23:15:45:22,1
2,KOR,41000003,1,2,34,1,1,6,6,2,...,13.60670,13.60670,4.53557,1,11,2029.764,39,0.20968,01MAY23:15:45:22,1
3,KOR,41000004,2,2,42,2,1,5,7,2,...,64.63640,64.63640,64.63640,1,55,1304.869,36,0.99604,01MAY23:15:45:22,1
4,KOR,41000005,1,2,31,1,1,2,3,2,...,21.48426,7.16142,7.16142,1,49,2624.434,33,0.33107,01MAY23:15:45:22,1

In [9]:
teacher_vars = pd.read_csv('data/TCH_VARS_selected.csv')

In [23]:
teacher_columns = teacher_vars['변수'].to_list()
teacher_columns[:5]

['TCHTYPE', 'TC001Q01NA', 'TC002Q01NA', 'TC007Q02NA', 'TC215Q01JA']

In [ ]:
teacher_columns = list(teacher_vars.T)

In [15]:
teacher_columns[:5]

[0, 1, 2, 3, 4]