In [1]:
import pandas as pd
import numpy as np

**한국 교사들 데이터**

In [2]:
teacher_df = pd.read_csv('data/CY08MSP_TCH_KOR_VARS select.csv')

In [3]:
teacher_df = teacher_df.iloc[:, :-1]  # 마지막 열 제거
teacher_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3614 entries, 0 to 3613
Columns: 526 entries, CNT to VER_DAT
dtypes: float64(117), int64(407), object(2)
memory usage: 14.5+ MB

**한국 교수들 데이터에 사용된 변수 목록**

In [4]:
teacher_vars_origin = pd.read_csv('data/TCH_VARS_original.csv')
teacher_vars_origin.head()

           변수                        설명     측도      결측값
0         CNT  Country code 3-character  명목(N)       없음
1    CNTTCHID          Intl. Teacher ID  명목(N)       없음
2     TCHTYPE              Teacher Type  명목(N)  7, 8, 9
3  TC001Q01NA   Are you female or male?  명목(N)  95 - 99
4  TC002Q01NA          How old are you?  척도(S)  95 - 99

**분석 대상 변수 목록 지정**

In [5]:
teacher_vars = pd.read_csv('data/TCH_VARS_selected.csv')
teacher_vars_list = teacher_vars['변수'].to_list()

In [6]:
teacher_df = teacher_df[teacher_vars_list]
teacher_df.shape

(3614, 118)

**결측치 확인 후 전처리**

- 99 등이 결측치 대신 사용됨.

In [7]:
teacher_df.describe(percentiles=[0.9, 0.92, 0.95, 0.99])

,TCHTYPE,TC001Q01NA,TC002Q01NA,TC007Q02NA,TC215Q01JA,TC216Q01JA,TC216Q02JA,TC216Q03JA,TC216Q04JA,TC216Q05JA,...,CREATPED,CAPCON,AFFECT,TRUST,OVERLOAD,AUTONOMY,LEADSHIP,OCSTRESS,STRESS,NEGSYMPT
count,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000,...,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000,3614.000000
mean,1.684283,1.573879,43.959878,16.259546,350.731599,28.769231,27.575816,48.882125,58.855285,52.203929,...,0.825549,0.967207,0.781324,0.846966,1.453154,1.155628,1.357440,1.490599,1.458462,1.674074
std,0.464865,3.660585,9.821958,11.012970,5508.108954,110.347336,135.708507,207.872831,228.213614,213.661046,...,11.185266,11.292714,10.945370,10.934424,11.343863,10.534830,12.175294,11.094712,11.934829,12.136062
min,1.000000,1.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-3.804800,-3.894700,-3.139800,-3.009000,-3.506700,-3.401700,-2.030100,-3.761100,-2.721200,-2.325700
50%,2.000000,1.000000,44.000000,16.000000,40.000000,16.000000,8.000000,3.000000,3.000000,3.000000,...,-0.619800,-0.137700,-0.054400,-0.475100,0.167600,-0.161800,-0.294600,0.209400,0.167100,0.251400
90%,2.000000,2.000000,57.000000,31.000000,60.000000,20.000000,18.000000,10.000000,10.000000,10.000000,...,0.917300,1.064800,0.853210,1.191300,1.049510,1.344200,0.858900,0.988000,0.963380,1.193170
92%,2.000000,2.000000,58.000000,32.000000,60.000000,20.000000,20.000000,10.000000,10.000000,13.000000,...,1.056900,1.210300,1.165900,1.557900,1.155900,1.726400,1.130800,1.142872,1.071476,1.319288
95%,2.000000,2.000000,60.000000,34.000000,65.000000,23.000000,23.000000,20.000000,999.000000,54.150000,...,1.766800,2.312300,1.740600,1.557900,1.474300,2.565200,1.821400,1.385700,1.277210,1.670440
99%,2.000000,2.000000,62.000000,37.870000,193.500000,999.000000,999.000000,999.000000,999.000000,999.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
max,2.000000,99.000000,99.000000,99.000000,99999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,...,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000

In [8]:
teacher_vars_df = teacher_vars.merge(teacher_vars_origin, on='변수', how='left')
teacher_vars_df

,변수,설명,측도,결측값
0,TCHTYPE,Teacher Type,명목(N),"7, 8, 9"
1,TC001Q01NA,Are you female or male?,명목(N),95 - 99
2,TC002Q01NA,How old are you?,척도(S),95 - 99
3,TC007Q02NA,How many years of work experience do you have:...,척도(S),95 - 99
4,TC215Q01JA,"During most recent complete calendar week, app...",명목(N),99995 - 99999
...,...,...,...,...
113,AUTONOMY,Teachers' work autonomy (WLE),척도(S),95.0000 - 99.0000
114,LEADSHIP,School leadership (WLE),척도(S),95.0000 - 99.0000
115,OCSTRESS,Occupational stress (WLE),척도(S),95.0000 - 99.0000
116,STRESS,Sources of stress (WLE),척도(S),95.0000 - 99.0000
117,NEGSYMPT,Negative physical symptoms (WLE),척도(S),95.0000 - 99.0000

**변수별 결측치값 확인**

변수별 결측치값을 실제 결측치로 간주되도록 모두 `np.nan`으로 대체한다.
`missing_map는` 열별 결측치를 어레이로 지정한다.

In [9]:
import re
delimiter = r' - |, ' # 결측값 표현에 사용된 구분자: ' - ' 또는 ', '

def parse_missing_codes(code_str):
    """'99, 999' -> [99.0, 999.0] 변환"""
    if pd.isna(code_str) or code_str == '':
        return np.array([np.nan])
    elif code_str == '없음':
        return np.array([np.nan])
    else:
        missing_range = [float(x.strip()) for x in re.split(delimiter, str(code_str))]
        return np.arange(missing_range[0], missing_range[-1] + 1)

# 변수명-결측값 어레이 사전 생성
missing_map = dict(zip(
    teacher_vars_df['변수'],
    teacher_vars_df['결측값'].apply(parse_missing_codes)
))

In [10]:
missing_map

{'TCHTYPE': array([7., 8., 9.]),
 'TC001Q01NA': array([95., 96., 97., 98., 99.]),
 'TC002Q01NA': array([95., 96., 97., 98., 99.]),
 'TC007Q02NA': array([95., 96., 97., 98., 99.]),
 'TC215Q01JA': array([99995., 99996., 99997., 99998., 99999.]),
 'TC216Q01JA': array([995., 996., 997., 998., 999.]),
 'TC216Q02JA': array([995., 996., 997., 998., 999.]),
 'TC216Q03JA': array([995., 996., 997., 998., 999.]),
 'TC216Q04JA': array([995., 996., 997., 998., 999.]),
 'TC216Q05JA': array([995., 996., 997., 998., 999.]),
 'TC216Q06JA': array([995., 996., 997., 998., 999.]),
 'TC216Q07JA': array([995., 996., 997., 998., 999.]),
 'TC217Q01NA': array([95., 96., 97., 98., 99.]),
 'TC216Q08JA': array([995., 996., 997., 998., 999.]),
 'TC218Q01JA': array([95., 96., 97., 98., 99.]),
 'TC150Q01HA': array([95., 96., 97., 98., 99.]),
 'TC150Q02HA': array([95., 96., 97., 98., 99.]),
 'TC150Q03HA': array([95., 96., 97., 98., 99.]),
 'TC150Q04HA': array([95., 96., 97., 98., 99.]),
 'TC150Q06HA': array([95., 96., 97., 98., 99.]),
 'TC150Q08HA': array([95., 96., 97., 98., 99.]),
 'TC203Q01HA': array([995., 996., 997., 998., 999.]),
 'TC203Q02HA': array([995., 996., 997., 998., 999.]),
 'TC203Q03HA': array([995., 996., 997., 998., 999.]),
 'TC204Q01HA': array([995., 996., 997., 998., 999.]),
 'TC204Q02HA': array([995., 996., 997., 998., 999.]),
 'TC204Q03HA': array([995., 996., 997., 998., 999.]),
 'TC231Q01JA': array([95., 96., 97., 98., 99.]),
 'TC244Q01JA': array([95., 96., 97., 98., 99.]),
 'TC244Q02JA': array([95., 96., 97., 98., 99.]),
 'TC244Q03JA': array([95., 96., 97., 98., 99.]),
 'TC244Q04JA': array([95., 96., 97., 98., 99.]),
 'TC244Q05JA': array([95., 96., 97., 98., 99.]),
 'TC244Q06JA': array([95., 96., 97., 98., 99.]),
 'TC245Q01JA': array([99995., 99996., 99997., 99998., 99999.]),
 'TC247Q01JA': array([95., 96., 97., 98., 99.]),
 'TC247Q02JA': array([95., 96., 97., 98., 99.]),
 'TC247Q03JA': array([95., 96., 97., 98., 99.]),
 'TC247Q04JA': array([95., 96., 97., 98., 99.]),
 'TC248Q01JA': array([95., 96., 97., 98., 99.]),
 'TC258Q01JA': array([95., 96., 97., 98., 99.]),
 'PROPWORK': array([95., 96., 97., 98., 99.]),
 'OTT1': array([5., 6., 7., 8., 9.]),
 'OTT2': array([5., 6., 7., 8., 9.]),
 'NTEACH1': array([5., 6., 7., 8., 9.]),
 'NTEACH2': array([5., 6., 7., 8., 9.]),
 'NTEACH3': array([5., 6., 7., 8., 9.]),
 'NTEACH4': array([5., 6., 7., 8., 9.]),
 'NTEACH5': array([5., 6., 7., 8., 9.]),
 'NTEACH6': array([5., 6., 7., 8., 9.]),
 'NTEACH7': array([5., 6., 7., 8., 9.]),
 'NTEACH8': array([5., 6., 7., 8., 9.]),
 'NTEACH9': array([5., 6., 7., 8., 9.]),
 'NTEACH10': array([5., 6., 7., 8., 9.]),
 'NTEACH11': array([5., 6., 7., 8., 9.]),
 'STTMG1': array([5., 6., 7., 8., 9.]),
 'STTMG2': array([5., 6., 7., 8., 9.]),
 'STTMG3': array([5., 6., 7., 8., 9.]),
 'STTMG4': array([5., 6., 7., 8., 9.]),
 'STTMG5': array([5., 6., 7., 8., 9.]),
 'STTMG6': array([5., 6., 7., 8., 9.]),
 'STTMG7': array([5., 6., 7., 8., 9.]),
 'STTMG8': array([5., 6., 7., 8., 9.]),
 'STTMG9': array([5., 6., 7., 8., 9.]),
 'STTMG10': array([5., 6., 7., 8., 9.]),
 'STTMG11': array([5., 6., 7., 8., 9.]),
 'PRPDT': array([95., 96., 97., 98., 99.]),
 'TC045Q01': array([5., 6., 7., 8., 9.]),
 'TC045Q02': array([5., 6., 7., 8., 9.]),
 'TC045Q03': array([5., 6., 7., 8., 9.]),
 'TC045Q04': array([5., 6., 7., 8., 9.]),
 'TC045Q05': array([5., 6., 7., 8., 9.]),
 'TC045Q06': array([5., 6., 7., 8., 9.]),
 'TC045Q08': array([5., 6., 7., 8., 9.]),
 'TC045Q09': array([5., 6., 7., 8., 9.]),
 'TC045Q10': array([5., 6., 7., 8., 9.]),
 'TC045Q14': array([5., 6., 7., 8., 9.]),
 'TC045Q15': array([5., 6., 7., 8., 9.]),
 'TC045Q16': array([5., 6., 7., 8., 9.]),
 'TC045Q18': array([5., 6., 7., 8., 9.]),
 'EXCHT': array([95., 96., 97., 98., 99.]),
 'ICTOTL': array([95., 96., 97., 98., 99.]),
 'TCICTUSE': array([95., 96., 97., 98., 99.]),
 'TCDISCLIMA': array([95., 96., 97., 98., 99.]),
 'DEVNEED': array([95., 96., 97., 98., 99.]),
 'COBN_T': array([nan]),
 'STABROAD': array([5., 6., 7., 8., 9.]),
 'TCATTIMM': array([95., 96., 97., 98., 99.]),
 'SATJOB': array([95., 96., 97., 98., 99.]),
 'SATTEACH': array([95., 96., 97., 98., 99.]),
 'SEFFCM': array([95., 96., 97., 98., 99.]),
 'SEFFREL': array([95., 96., 97., 98., 99.]),
 'SEFFINS': array([95., 96., 97., 98., 99.]),
 'TCISCED': array([95., 96., 97., 98., 99.]),
 'EMPLSTAT': array([5., 6., 7., 8., 9.]),
 'EMPLSTATd': array([5., 6., 7., 8., 9.]),
 'TCWKLOAD': array([995., 996., 997., 998., 999.]),
 'TCDIGRES': array([95., 96., 97., 98., 99.]),
 'ICTCOMP': array([95., 96., 97., 98., 99.]),
 'ICTMATTC': array([5., 6., 7., 8., 9.]),
 'EXPO21TC': array([95., 96., 97., 98., 99.]),
 'COGACMTC': array([95., 96., 97., 98., 99.]),
 'COGACRTC': array([95., 96., 97., 98., 99.]),
 'TCMGOALS': array([95., 96., 97., 98., 99.]),
 'ADAPTINSTR': array([95., 96., 97., 98., 99.]),
 'FEEDBINSTR': array([95., 96., 97., 98., 99.]),
 'OPENCTTC': array([95., 96., 97., 98., 99.]),
 'CREATVAL': array([95., 96., 97., 98., 99.]),
 'CREATPED': array([95., 96., 97., 98., 99.]),
 'CAPCON': array([95., 96., 97., 98., 99.]),
 'AFFECT': array([95., 96., 97., 98., 99.]),
 'TRUST': array([95., 96., 97., 98., 99.]),
 'OVERLOAD': array([95., 96., 97., 98., 99.]),
 'AUTONOMY': array([95., 96., 97., 98., 99.]),
 'LEADSHIP': array([95., 96., 97., 98., 99.]),
 'OCSTRESS': array([95., 96., 97., 98., 99.]),
 'STRESS': array([95., 96., 97., 98., 99.]),
 'NEGSYMPT': array([95., 96., 97., 98., 99.])}

열별 결측값을 일괄적으로 `np.nan`으로 치환

In [11]:
for col, codes in missing_map.items():
    if len(codes) > 1:
        teacher_df.loc[teacher_df.loc[:, col].isin(codes), col] = np.nan

In [12]:
teacher_df.describe()

,TCHTYPE,TC001Q01NA,TC002Q01NA,TC007Q02NA,TC215Q01JA,TC216Q01JA,TC216Q02JA,TC216Q03JA,TC216Q04JA,TC216Q05JA,...,CREATPED,CAPCON,AFFECT,TRUST,OVERLOAD,AUTONOMY,LEADSHIP,OCSTRESS,STRESS,NEGSYMPT
count,3614.000000,3609.000000,3608.000000,3604.000000,3603.000000,3568.000000,3545.000000,3449.000000,3413.000000,3439.000000,...,3568.000000,3567.000000,3570.000000,3570.000000,3566.000000,3573.000000,3559.000000,3568.000000,3561.000000,3559.000000
mean,1.684283,1.438903,43.868348,16.030244,46.504302,16.260650,8.667983,3.428530,3.487841,4.024426,...,-0.440153,-0.324506,-0.429214,-0.362764,0.140129,0.032868,-0.151507,0.233471,0.006706,0.170020
std,0.464865,0.496322,9.569938,10.129877,123.273670,6.119032,6.711867,3.674812,3.799902,4.835814,...,0.909236,0.933495,0.938867,0.894372,0.757571,1.053157,0.934281,0.695030,0.897948,0.934558
min,1.000000,1.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-3.804800,-3.894700,-3.139800,-3.009000,-3.506700,-3.401700,-2.030100,-3.761100,-2.721200,-2.325700
25%,1.000000,1.000000,36.000000,8.000000,25.000000,15.000000,5.000000,1.000000,2.000000,1.000000,...,-1.003425,-0.924100,-1.005800,-0.887800,-0.351600,-0.627800,-0.634800,-0.014900,-0.332400,-0.230350
50%,2.000000,1.000000,44.000000,15.500000,40.000000,16.000000,8.000000,2.000000,3.000000,3.000000,...,-0.636300,-0.137700,-0.054400,-0.475100,0.135000,-0.184300,-0.303400,0.209400,0.147300,0.243200
75%,2.000000,2.000000,51.000000,23.000000,50.000000,18.000000,10.000000,5.000000,5.000000,5.000000,...,0.018900,-0.137700,-0.054400,0.200700,0.581200,0.613100,0.400300,0.591500,0.503200,0.703000
max,2.000000,2.000000,64.000000,46.000000,3310.000000,100.000000,80.000000,70.000000,60.000000,100.000000,...,1.766800,2.330100,1.740600,1.557900,3.371300,2.565200,2.754700,1.465000,3.682900,3.838000

열별 결측치 개수를 확인한다.
종속 변수로 사용될 FEEDBINSTR와 FEEDBINSTR에 각각 583개의 결측치가 존재한다.

In [13]:
teacher_df[['FEEDBINSTR', 'ADAPTINSTR']].isnull().sum()

FEEDBINSTR    583
ADAPTINSTR    583
dtype: int64

아래 19개 변수(열)에서의 결측치가 86%를 넘기에 모두 삭제한다.

In [14]:
teacher_df.isnull().sum().sort_values(ascending=False).head(20)

TC150Q06HA    3134
TC150Q04HA    3127
TC150Q03HA    3122
TC150Q02HA    3121
TC204Q03HA    3119
TC150Q08HA    3118
TC204Q02HA    3118
TC204Q01HA    3118
TC203Q03HA    3117
TC203Q02HA    3117
TC203Q01HA    3117
EXPO21TC      3115
TCDISCLIMA    3114
ICTMATTC      3114
COGACMTC      3114
COGACRTC      3114
TCMGOALS      3114
TC150Q01HA    3113
TC231Q01JA    3113
ICTOTL         593
dtype: int64

In [15]:
3113/teacher_df.shape[0]

0.8613724405091312

In [16]:
columns_to_drop = teacher_df.isnull().sum().sort_values(ascending=False).head(19).index.tolist()
teacher_df = teacher_df.drop(columns=columns_to_drop)

In [17]:
teacher_df.shape

(3614, 99)

**종속변수의 결측치 제거**

종속변수로 사용될 FEEDBINSTR와 ADAPTINSTR 값이 결측치인 행은 모두 삭제한다.

In [18]:
teacher_df = teacher_df.dropna(subset=['FEEDBINSTR', 'ADAPTINSTR'], how='any')

남은 결측치

In [19]:
teacher_df.isnull().sum().sort_values(ascending=False).head(30)

TC216Q08JA    332
TC216Q07JA    315
TC245Q01JA    220
TC244Q05JA    177
TC244Q04JA    176
TC244Q03JA    175
TC244Q02JA    172
TC244Q06JA    169
TC216Q04JA    165
TC244Q01JA    159
TC216Q03JA    135
TC216Q05JA    131
PROPWORK      110
TC216Q06JA     65
TC216Q02JA     49
TC216Q01JA     34
TCICTUSE       32
DEVNEED        27
ICTCOMP        23
NEGSYMPT       20
LEADSHIP       17
TCDIGRES       17
STRESS         15
ICTOTL         15
TC247Q04JA     14
TC247Q02JA     14
TC247Q01JA     13
TC247Q03JA     10
CAPCON         10
EXCHT          10
dtype: int64

아래 5 개의 열은 분석에 사용하지 않음.

In [20]:
columns_to_drop2 = ['TC216Q07JA', 'TC216Q08JA'] + ['TC244Q05JA'] + ['PROPWORK', 'COBN_T']
teacher_df = teacher_df.drop(columns=columns_to_drop2, axis=1)

나머지 결측치는 모두 삭제

In [21]:
teacher_df = teacher_df.dropna()

총 95개의 열을 갖는 2,406 데이터셋이 생성됨.

In [22]:
teacher_df.shape

(2406, 94)

### 열별 측도 조정

열별로 지정된 측도는 세 종류다.

In [23]:
teacher_vars_df['측도'].value_counts()

측도
순서(O)    44
명목(N)    39
척도(S)    35
Name: count, dtype: int64

In [24]:
mask_order = teacher_vars_df['측도'] == '순서(O)'
order_cols = teacher_vars_df.loc[mask_order, '변수'].to_list()
order_cols = [col for col in order_cols if col in teacher_df.columns]
len(order_cols)

42

In [25]:
mask_nominal = teacher_vars_df['측도'] == '명목(N)'
nominal_cols = teacher_vars_df.loc[mask_nominal, '변수'].to_list()
nominal_cols = [col for col in nominal_cols if col in teacher_df.columns]
len(nominal_cols)

22

In [26]:
mask_scala = teacher_vars_df['측도'] == '척도(S)'
scala_cols = teacher_vars_df.loc[mask_scala, '변수'].to_list()
scala_cols = [col for col in scala_cols if col in teacher_df.columns]
len(scala_cols)

30

명목 열의 dtype을 object로 변환시킨다.

In [27]:
for col in nominal_cols:
    teacher_df[col] = teacher_df[col].astype('object')  # pandas ObjectDtype

In [28]:
teacher_df.select_dtypes(include=['object']).info()

<class 'pandas.core.frame.DataFrame'>
Index: 2406 entries, 3 to 3613
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TCHTYPE     2406 non-null   object
 1   TC001Q01NA  2406 non-null   object
 2   TC215Q01JA  2406 non-null   object
 3   TC216Q01JA  2406 non-null   object
 4   TC216Q02JA  2406 non-null   object
 5   TC216Q03JA  2406 non-null   object
 6   TC216Q04JA  2406 non-null   object
 7   TC216Q05JA  2406 non-null   object
 8   TC216Q06JA  2406 non-null   object
 9   TC217Q01NA  2406 non-null   object
 10  TC218Q01JA  2406 non-null   object
 11  TC244Q01JA  2406 non-null   object
 12  TC244Q02JA  2406 non-null   object
 13  TC244Q03JA  2406 non-null   object
 14  TC244Q04JA  2406 non-null   object
 15  TC244Q06JA  2406 non-null   object
 16  TC245Q01JA  2406 non-null   object
 17  TC247Q01JA  2406 non-null   object
 18  TC247Q02JA  2406 non-null   object
 19  TC247Q03JA  2406 non-null   object
 20  TC247Q04JA  2406 non-null   object
 21  TC248Q01JA  2406 non-null   object
dtypes: object(22)
memory usage: 432.3+ KB

### 명목열 원-핫 인코딩 전처리

In [29]:
teacher_df = pd.get_dummies(teacher_df,
                            columns=nominal_cols,
                            prefix=nominal_cols,
                            prefix_sep="_",
                            dummy_na=False,
                            dtype=np.float64,
                            )

print(f"원-핫 인코딩 완료: {len(nominal_cols)}개 열 -> {teacher_df.shape[1]}개 총 열")

원-핫 인코딩 완료: 22개 열 -> 676개 총 열

In [30]:
teacher_df.head()

,TC002Q01NA,TC007Q02NA,TC258Q01JA,OTT1,OTT2,NTEACH1,NTEACH2,NTEACH3,NTEACH4,NTEACH5,...,TC247Q03JA_3.0,TC247Q03JA_4.0,TC247Q03JA_5.0,TC247Q04JA_1.0,TC247Q04JA_2.0,TC247Q04JA_3.0,TC247Q04JA_4.0,TC247Q04JA_5.0,TC248Q01JA_1.0,TC248Q01JA_2.0
3,42.0,7.0,9.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
5,41.0,17.0,2.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
6,46.0,19.0,8.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
8,35.0,9.0,8.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
9,54.0,29.0,8.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0

### 훈련셋, 타깃 지정

In [31]:
targets = ['FEEDBINSTR', 'ADAPTINSTR']
X = teacher_df.drop(columns=targets, axis=1)
y_feed = teacher_df['FEEDBINSTR']
y_adapt = teacher_df['ADAPTINSTR']

## RandomForest 학습

In [32]:
# RandomForest 회귀 모델
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

### 하나의 RandomForest 학습

In [33]:
# 1. Train/Test 분할
test_size = 0.2
random_state = 42
X_train, X_test, y_train_feed, y_test_feed = train_test_split(
    X, y_feed, test_size=test_size, random_state=random_state
)
print(f"Train shape: {X_train.shape}, Test shape: {X_test.shape}")

# 2. 모델 정의 (초기 하이퍼파라미터)
rf_params = dict(
    n_estimators=300,
    max_depth=None,           # 깊이 제한 없음 (과적합시 줄이기)
    min_samples_split=2,
    min_samples_leaf=1,
    # max_features='sqrt',      # 일반적으로 좋은 기본값
    n_jobs=-1,
    random_state=random_state,
    oob_score=True,
)

rf_feed = RandomForestRegressor(**rf_params)

# 3. 학습
rf_feed.fit(X_train, y_train_feed)
# 4. 예측 및 기본 평가
y_pred_feed = rf_feed.predict(X_test)
rmse = mean_squared_error(y_test_feed, y_pred_feed)
mae = mean_absolute_error(y_test_feed, y_pred_feed)
r2 = r2_score(y_test_feed, y_pred_feed)
print(f"Test RMSE: {rmse:.4f}")
print(f"Test MAE : {mae:.4f}")
print(f"Test R2  : {r2:.4f}")

# 5. 교차검증 (R2, RMSE)
cv_r2 = cross_val_score(rf_feed, X_train, y_train_feed, cv=5, scoring='r2')
cv_rmse = -cross_val_score(rf_feed, X_train, y_train_feed, cv=5, scoring='neg_root_mean_squared_error')
print(f"CV R2 (mean±std): {cv_r2.mean():.4f} ± {cv_r2.std():.4f}")
print(f"CV RMSE (mean±std): {cv_rmse.mean():.4f} ± {cv_rmse.std():.4f}")
# 6. OOB Score (가능하면 일반화 성능 대략 확인)
if hasattr(rf_feed, 'oob_score_'):
    print(f"OOB R2: {rf_feed.oob_score_:.4f}")

# 7. 중요 변수 상위 20개 출력
importances = rf_feed.feature_importances_
indices = np.argsort(importances)[::-1][:20]
important_features = [(X.columns[i], importances[i]) for i in indices]
print("\nTop 20 Feature Importances:")
for name, score in important_features:
    print(f"{name:40s} {score:.4f}")

Train shape: (1924, 674), Test shape: (482, 674)
Test RMSE: 0.5009
Test MAE : 0.5521
Test R2  : 0.3827
CV R2 (mean±std): 0.4497 ± 0.0448
CV RMSE (mean±std): 0.7208 ± 0.0257
OOB R2: 0.4576

Top 20 Feature Importances:
SEFFINS                                  0.2176
SEFFREL                                  0.1933
OPENCTTC                                 0.0373
CREATPED                                 0.0287
EXCHT                                    0.0259
TCDIGRES                                 0.0228
SEFFCM                                   0.0214
AUTONOMY                                 0.0207
TCICTUSE                                 0.0205
CREATVAL                                 0.0179
LEADSHIP                                 0.0168
ICTCOMP                                  0.0151
DEVNEED                                  0.0141
TCATTIMM                                 0.0133
PRPDT                                    0.0130
ICTOTL                                   0.0129
SATTEACH                                 0.0124
TCWKLOAD                                 0.0124
STRESS                                   0.0122
OVERLOAD                                 0.0120

### 앙상블 학습: 모든 데이터 활용

In [34]:
from sklearn.model_selection import RandomizedSearchCV

# 1. Train/Test 분할
test_size = 0.1
random_state = 42
X_train, X_test, y_train_feed, y_test_feed = train_test_split(
    X, y_feed, test_size=test_size, random_state=random_state
)

param_dist = {
    "n_estimators": [900, 1000, 1100],
    "max_depth": [40, 45, 50, 55],
    "min_samples_split": [2, 3, 4, 5],
    "min_samples_leaf": [2, 3, 4, 5],
    # "max_features": ["sqrt", "log2"],
}

rf_base = RandomForestRegressor(
    n_jobs=-1,
    random_state=42,
    oob_score=False,  # CV랑 중복되므로 끔
)

rnd_search = RandomizedSearchCV(
    rf_base,
    param_distributions=param_dist,
    n_iter=30,
    cv=3,
    scoring="r2",
    n_jobs=-1,
    random_state=42,
    verbose=1,
)

rnd_search.fit(X_train, y_train_feed)
print("Best R2 (CV):", rnd_search.best_score_)
print("Best params:", rnd_search.best_params_)

best_rf = rnd_search.best_estimator_
y_pred_best = best_rf.predict(X_test)
print("Test R2 (best):", r2_score(y_test_feed, y_pred_best))

importances = best_rf.feature_importances_
indices = np.argsort(importances)[::-1][:20]
important_features = [(X.columns[i], importances[i]) for i in indices]
print("\nTop 20 Feature Importances:")
for name, score in important_features:
    print(f"{name:40s} {score:.4f}")

Fitting 3 folds for each of 30 candidates, totalling 90 fits

Best R2 (CV): 0.45490651849045083
Best params: {'n_estimators': 1100, 'min_samples_split': 3, 'min_samples_leaf': 3, 'max_depth': 50}
Test R2 (best): 0.3507659124402501

Top 20 Feature Importances:
SEFFINS                                  0.2327
SEFFREL                                  0.1999
OPENCTTC                                 0.0382
CREATPED                                 0.0308
EXCHT                                    0.0266
TCDIGRES                                 0.0253
SEFFCM                                   0.0215
AUTONOMY                                 0.0212
LEADSHIP                                 0.0204
TCICTUSE                                 0.0201
CREATVAL                                 0.0186
ICTCOMP                                  0.0185
DEVNEED                                  0.0160
PRPDT                                    0.0154
ICTOTL                                   0.0154
OVERLOAD                                 0.0142
TCATTIMM                                 0.0138
STRESS                                   0.0131
SATTEACH                                 0.0130
TCWKLOAD                                 0.0125

### 앙상블 학습: 일부 특성만 활용

일부 특성만 대상으로할 경우엔 성능이 떨어진다.

In [36]:
from sklearn.model_selection import RandomizedSearchCV

# 1. Train/Test 분할
test_size = 0.1
random_state = 42
X_train, X_test, y_train_feed, y_test_feed = train_test_split(
    X, y_feed, test_size=test_size, random_state=random_state
)

param_dist = {
    "n_estimators": [500, 600, 700],
    "max_depth": [40, 45, 50, 55, 60],
    "min_samples_split": [2, 3, 4, 5],
    "min_samples_leaf": [2, 3, 4],
    "max_features": ["sqrt"],
}

rf_base = RandomForestRegressor(
    n_jobs=-1,
    random_state=42,
    oob_score=False,  # CV랑 중복되므로 끔
)

rnd_search = RandomizedSearchCV(
    rf_base,
    param_distributions=param_dist,
    n_iter=30,
    cv=3,
    scoring="r2",
    n_jobs=-1,
    random_state=42,
    verbose=1,
)

rnd_search.fit(X_train, y_train_feed)
print("Best R2 (CV):", rnd_search.best_score_)
print("Best params:", rnd_search.best_params_)

best_rf_ = rnd_search.best_estimator_
y_pred_best = best_rf_.predict(X_test)
print("Test R2 (best):", r2_score(y_test_feed, y_pred_best))

importances = best_rf_.feature_importances_
indices_ = np.argsort(importances)[::-1][:20]
important_features_ = [(X.columns[i], importances[i]) for i in indices_]
print("\nTop 20 Feature Importances:")
for name, score in important_features_:
    print(f"{name:40s} {score:.4f}")

Fitting 3 folds for each of 30 candidates, totalling 90 fits
Best R2 (CV): 0.4165548300201108
Best params: {'n_estimators': 600, 'min_samples_split': 3, 'min_samples_leaf': 2, 'max_features': 'sqrt', 'max_depth': 60}
Test R2 (best): 0.3116608179464565

Top 20 Feature Importances:
SEFFREL                                  0.0767
SEFFINS                                  0.0727
SEFFCM                                   0.0568
OPENCTTC                                 0.0410
CREATPED                                 0.0313
TCDIGRES                                 0.0307
CREATVAL                                 0.0289
ICTCOMP                                  0.0275
EXCHT                                    0.0262
AUTONOMY                                 0.0243
TRUST                                    0.0242
TCICTUSE                                 0.0241
LEADSHIP                                 0.0209
AFFECT                                   0.0206
ICTOTL                                   0.0187
SATJOB                                   0.0184
PRPDT                                    0.0183
CAPCON                                   0.0178
SATTEACH                                 0.0174
DEVNEED                                  0.0168